@model IEnumerable<Web_GameAffinity.Models.EmpresaViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Empresas</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Crear nueva empresa</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota)
            </td>
            <td>
                <div class="btn-group" role="group">
                    <a class="btn btn-primary" href="@Url.Action("Edit", new { id = item.Id })">Editar</a>
                    <a class="btn btn-info" href="@Url.Action("Details", new { id = item.Id })">Detalles</a>
                    <a class="btn btn-danger" href="@Url.Action("Delete", new { id = item.Id })">Eliminar</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
