@model Web_GameAffinity.Models.IndividuoViewModel

@{
    ViewData["Title"] = "DetailsIndividuo";
}

<main class="main-content-profile">
    <div class="full-profile-container">
        <div class="perfil-usuario">
            <div class="foto-usuario">
                <div class="caratulaNota">
                    <img class="imagenUsuario" src="/Images/@Model.Imagen.FileName" alt="Imagen del Individuo" />
                </div>
            </div>
            <div class="info-usuario">
                <h2 class="Name-User-Profile">@Model.Nombre @Model.Apellido</h2>
                <h5>Fecha de nacimiento:</h5>
                <p>@Model.FechaNac.Value.ToString("dd/MM/yyyy")</p>
                <h5>Nacionalidad:</h5>
                <p>@Model.nombreNacionalidad</p>
                <h5>Rol:</h5>
                <p>@Model.Rol</p>
            </div>
        </div>
        <h4>Biografía:</h4>
        <p>@Model.Biografia</p>

        <br />

        <h4>Videojuegos Asociados:</h4>
        <div class="videogameList row">
            @if (Model.Videojuegos != null && Model.Videojuegos.Any())
            {
                @foreach (var item in Model.Videojuegos)
                {
                    @Html.Partial("videojuegoCardDetails", item)
                }
            }
            else
            {
                <p>No hay videojuegos asociados con este individuo.</p>
            }
        </div>
    </div>
</main>
