<!-- Obtenemos referencia a los videojuegos -->
@model Web_GameAffinity.Models.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<section class="row">
    <h1>Últimas novedades</h1>
    @Html.Partial("videojuegoCardList", Model.UltimasNovedades)
</section>
<section class="row">
    <h1>Próximos lanzamientos</h1>
    @Html.Partial("videojuegoCardList", Model.ProximosLanzamientos)
</section>
<section class="row">
    <h1>Mejor puntuados</h1>
    @Html.Partial("videojuegoCardList", Model.Popular)
</section>
<section class="row">
    <h1>Empresas destacadas</h1>
    @Html.Partial("empresaCardList", Model.empresasDestacadas)
</section>
<section class="row">
    <h1>Menciones especiales</h1>
    @Html.Partial("individuoCardList", Model.individuos)
</section>
