@model Web_GameAffinity.Models.VideojuegoViewModel

@{
    ViewData["Title"] = "Details";
}

<main class="main-content-profile">
    <div class="full-profile-container">
        <div class="perfil-usuario">
            <div class="foto-usuario">
                <img src="@Model.Imagen" alt="Imagen del Videojuego" onerror="this.src='Images/missing_img.jpg';" />
            </div>
            <div class="info-usuario">
                <h2 class="Name-User-Profile">@Model.Nombre</h2>
                <h4>Descripción:</h4>
                <p>@Model.Descripcion</p>
                <h4>Nota Media:</h4>
                <p>@Model.NotaMedia</p>
                <h4>Fecha de Lanzamiento:</h4>
                <p>@Model.FechaLanzamiento</p>
                <h4>Género:</h4>
                <p>@Model.Genero</p>
                <div class="boton-configuracion">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>
</main>

<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>