@model Web_GameAffinity.Models.VideojuegoDetailsViewModel

@using Microsoft.AspNetCore.Http
@using GameAffinityGen.Infraestructure.Repository.GameAffinity
@using GameAffinityGen.ApplicationCore.CEN.GameAffinity
@using GameAffinityGen.ApplicationCore.EN.GameAffinity

@{
    ViewData["Title"] = "Details";
    int tieneRes = 0;
}

<main class="main-content-profile">
    <div class="full-profile-container">
        <div class="perfil-usuario">
            <div class="foto-usuario">
                <div class="caratulaNota">
                    <img class="imagenUsuario img-profile-games-etc" src="/Images/@Model.Videojuego.Imagen.FileName" alt="Imagen del Videojuego" />
                    <span class="nota">@Model.Videojuego.NotaMedia</span>
                </div>
                @if (Context.Session.Get<ConfiguracionPerfilViewModel>("user") != null){
                    @foreach(var resenya in Model.Resenyas){
                        if(resenya.IdAutor == Context.Session.Get<ConfiguracionPerfilViewModel>("user").id){
                            tieneRes = 1;
                            break;
                        }
                    }

                    @if(tieneRes == 0){
                        <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#resenyaModal">
                            Añadir Reseña
                        </button>
                    } else {
                        <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#resenyaModal">
                            Actualizar Reseña
                        </button>
                    }
                    <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#listaModal">
                        Añadir a lista
                    </button>
                }
            </div>
            <div class="info-usuario">
                <h2 class="Name-User-Profile">@Model.Videojuego.Nombre</h2>
                <h4>Fecha de Lanzamiento:</h4>
                <p>@Model.Videojuego.FechaLanzamiento.Value.ToString("dd/MM/yyyy")</p>
                <h4>Género:</h4>
                <p class="genre">@Model.Videojuego.Genero</p>
                
                    <!--ESTO LO VE UN MODERADOR-->
                @if (Context.Session.Get<ConfiguracionPerfilViewModel>("user") != null){
                    ModeradorRepository repo = new ModeradorRepository();
                    ModeradorCEN cen = new ModeradorCEN(repo);
                    var user = Context.Session.Get<ConfiguracionPerfilViewModel>("user");
                    ModeradorEN esModerador = cen.GetByOID(user.id);
                    @if(esModerador != null)
                    {
                    <div class="boton-configuracion">
                        @Html.ActionLink("Editar", "Edit", new { id = Model.Videojuego.Id }, new { @class = "btn btn-primary" })
                    </div>
                    }
                }

            </div>
        </div>
        <h4>Descripción:</h4>
        <p>@Model.Videojuego.Descripcion</p>
        <h4>Reseñas</h4>
        @if (Model.Resenyas != null && Model.Resenyas.Any())
        {
                @foreach (var resenya in Model.Resenyas)
                {
                    @Html.Partial("ResenyaCard", @resenya)
                }
        }
        else
        {
            <p>No hay reseñas disponibles.</p>
        }
    </div>

</main>

<!-- Modal para añadir reseña -->
@Html.Partial("resenyaModal", Model)

<!-- Modal para añadir a lista -->
@if (Context.Session.Get<ConfiguracionPerfilViewModel>("user") != null)
{
    @Html.Partial("listaModal", Model.ListasDeUsuario)
}