@model Web_GameAffinity.Models.ResenyaViewModel

<div>
    <h4>ResenyaViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Texto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Texto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Likes_contador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Likes_contador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dislikes_contador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dislikes_contador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreAutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreAutor)
        </dd>
    </dl>
</div>
