@model Web_GameAffinity.Models.ResenyaViewModel

@{
    var user = Context.Session.Get<ConfiguracionPerfilViewModel>("user");
    InteraccionViewModel userInteraccion = null;
    int userId = -1;
    string iconolike = "bi bi-hand-thumbs-up";
    string iconodislike = "bi bi-hand-thumbs-down";
    if(user != null)
    {
        Console.WriteLine("user is not null");
        userId = user.id;


        userInteraccion = Model.Interacciones.FirstOrDefault<InteraccionViewModel>(r => r.IdAutor == userId);

        if ( userInteraccion != null ) {
            if ( userInteraccion.Liked ) {
                Console.WriteLine("interactionLiked");
                iconolike += "-fill";
            }

            else if ( userInteraccion.Disliked ) {
                Console.WriteLine("interactionDisLiked");
                iconodislike += "-fill";
            }
        }
    }
    Console.WriteLine(iconolike);
    Console.WriteLine(iconodislike);
}

<div class="resenya card bg-light mb-5 row" style="min-width: 20rem;">
    <div class="card-header">
        <h5>@Html.DisplayFor(model => model.Titulo)</h5>
        <span class="nota" style="margin: 0">
            @Html.DisplayFor(model => model.Valoracion)
        </span>
  </div>
    
    <div class="card-body">
        <p class="card-text">@Html.DisplayFor(model => model.Texto)</p>
        <p>
            Autor:
            <a asp-action="DetailsUsuario" asp-controller="Registrado" asp-route-id="@Model.IdAutor" class="card-text">
                @Html.DisplayFor(model => model.NombreAutor)
            </a>
        </p>
    </div>

    <div class="card-footer bg-light text-center">
        <form 
            asp-controller="Interaccion" 
            asp-action="InteraccionCambia" 
            method="post">
            <input type="number" name="idusuario" value="@userId" hidden />
            <input type="number" name="idresenya" value="@Model.Id" hidden />
            <input type="number" name="operation" value="0" hidden />
            <button type="submit" class="btn btn-light mr-1">
                <i class="@iconolike"></i><span class="ml-1">@Model.Likes_contador</span>
            </button>
        </form>
        

        <form asp-controller="Interaccion" asp-action="InteraccionCambia" method="post">
            <input type="number" name="idusuario" value="@userId" hidden />
            <input type="number" name="idresenya" value="@Model.Id" hidden />
            <input type="number" name="operation" value="1" hidden />
            <button type="submit" class="btn btn-light mr-1">
                <i class="@iconodislike"></i><span class="ml-1">@Model.Dislikes_contador</span>
            </button>
        </form>
        
    </div>
</div>
