@model Web_GameAffinity.Models.ListaViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="row">
    <div class="col-12 col-md-3">
         <img class="caratula" src="/Images/@Model.Imagen.FileName">
    </div>
    <div class="col-12 col-md-9">
        <h4>ListaViewModel</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Por_defecto)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Por_defecto)
            </dd>
        </dl>
    </div>
</div>

<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
    
</div>

<section class="row">
    <h4>Videojuegos de la lista</h4>
    <div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAñadirVideojuego">
            Añadir juego
        </button>
        <button type="button" class="btn btn-danger" onclick="eliminarVideojuego(@Model.Id)">
            Eliminar juego
        </button>
    </div>
    
    <div class="videogameList row">
        @foreach (var item in Model.Videojuegos)
        {
            @Html.Partial("videojuegoCard", item)
        }
    </div>
</section>







<div class="modal fade" id="modalAñadirVideojuego" tabindex="-1" aria-labelledby="modalAñadirVideojuegoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAñadirVideojuegoLabel">Añadir Videojuego</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row gy-3">
                    @foreach (var videojuego in Model.TodosLosVideojuegos)
                    {
                        <div>
                            <div class="videogameCard">
                                @Html.Partial("VideojuegoCard", videojuego)

                                <!-- Formulario para añadir videojuego -->
                                <form asp-controller="Lista" asp-action="AnyadirVideojuego" method="post">
                                    <input type="hidden" name="listaId" value="@Model.Id" />
                                    <input type="hidden" name="videojuegoId" value="@videojuego.Id" />
                                    <button type="submit" class="btn btn-primary">Añadir</button>
                                </form>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
